# Coq/Rocq build artifacts
*.aux
*.glob
*.v.d
*.v.tex
*.v.timing
*.vio
*.vo
*.vok
*.vos
.*.aux
.coq-native/
.lia.cache
.lra.cache
.nia.cache
.nra.cache
/.Makefile.d
/.Makefile.coq.d
/.coqdeps.d
/Makefile.coq
/Makefile.coq.conf

# Nix
/result
.direnv/

# Editor
*~
\#*\#
.#*
*.bak

# Build logs
log_*.txt
/build.log
